#!/usr/bin/env bash

cat > /etc/apt/apt.conf <<EOF
{{ if .ParamExists "post/ngcacher-proxy" }}
Acquire::http::Proxy "{{.Param "post/ngcacher-proxy"}}";
Acquire::https::Proxy "{{.Param "post/ngcacher-proxy"}}";
{{ else }}
Acquire::http::Proxy "";
Acquire::https::Proxy "";
{{ end }}
Acquire::ftp::Proxy "";
EOF

cat > /etc/apt/sources.list <<EOF
deb http://archive.ubuntu.com/ubuntu/ xenial main restricted
deb http://archive.ubuntu.com/ubuntu/ xenial-updates main restricted
deb http://archive.ubuntu.com/ubuntu/ xenial universe
deb http://archive.ubuntu.com/ubuntu/ xenial-updates universe
deb http://archive.ubuntu.com/ubuntu/ xenial multiverse
deb http://archive.ubuntu.com/ubuntu/ xenial-updates multiverse
deb http://archive.ubuntu.com/ubuntu/ xenial-backports main restricted universe multiverse
deb http://security.ubuntu.com/ubuntu xenial-security main restricted
deb http://security.ubuntu.com/ubuntu xenial-security universe
deb http://security.ubuntu.com/ubuntu xenial-security multiverse
EOF

sed -i 's/prohibit-password/yes/' /etc/ssh/sshd_config

cat > /etc/modprobe.d/nest.conf <<EOF
options kvm_intel nested=1
EOF

{{ if .ParamExists "post/script-url" }}
SCRIPT=/var/log/downloaded_script
{{ if .ParamExists "post/http-proxy" }}
wget -e http_proxy={{.Param "post/http-proxy"}} {{.Param "post/script-url"}} -O $SCRIPT
{{ else }}
wget {{.Param "post/script-url"}} -O $SCRIPT
{{ end }}
chmod +x $SCRIPT
$SCRIPT
{{ end }}
