version: 1
config:
{% for net in networks -%}
- type: physical
  name: {{ net['nic_name'] }}
  subnets:
    - control: auto
      type: static
      address: {{ net['ip'] }}/{{ net['bits'] }}
      gateway: {{ net['gateway'] }}{{ '\n' }}
{%- endfor %}